.cube-moves-connect-wallet {
  display: flex;
  justify-content: center;
  height: 100%;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cube-moves-title {
  padding: 1rem;
}

.cube-moves-button {
  width: 25%;
}

.cube-moves-scramble {
  position: absolute;
  //padding: 2rem;
  left: 15px;
}

.pending-moves-wrapper {
  position: fixed;
  right: 35px;
  bottom: 30px;

  //display: flex;
  //flex-wrap: wrap;
  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.pending-moves-buttons-wrapper {
  //position: fixed;
  //right: 35px;
  //bottom: 30px;

  display: flex;
  //flex-wrap: wrap;
  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
