.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-size: 26px;
}

.errorDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 12px;
}
