
// BREAKPOINTS
$largeMobileBreakpoint: 29.5em; // <472px
$smallTabletBreakpoint: 36.5em; // <592px
$tabletBreakpoint: 47.5em; // <768px
$desktopBreakpoint: 63em; // <1024px
$widescreenBreakpoint: 80em; // <1280px
$superWideBreakpoint: 112.5em; // <1808px
